.question-status {
  z-index: 100;
  position: absolute;
  width: 7rem;
  left: 50%;
  margin-left: -3.5rem;
  bottom: 6rem;
}
.question-status img {
  width: 7rem;
}
audio {
  display: none;
}
.card-panel {
  margin-top: 1.5em;
}
.card-panel button i {
  line-height: 15px
}
.card-panel i {
  padding: 12px;
  font-size: 24px;
}
.card-panel .row.valign-wrapper {
  margin-bottom: 0;
}
.row.answers {
  line-height: 4;
  margin-top: 2em;
  margin-bottom: 2em;
}
.row.answers .col:nth-child(even) {
  text-align: right;
  padding-right: 15%;
}
.row.answers .col:nth-child(odd) {
  text-align: left;
  padding-left: 12%;
}
.row.answers .col {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.answers {
  padding-bottom: 4.5em;
}
.next {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -5em;
  text-align: center;
}
.song-preview {
  margin-top: 10px;
}
.album-cover {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-top: 10px;
}
