.row.answers {
  line-height: 4;
  margin-top: 2em;
  margin-bottom: 2em;
}

.row.answers .col:nth-child(even) {
  text-align: right;
}

.row.answers .col:nth-child(odd) {
  text-align: left;
}

.answers {
  padding-bottom: 4.5em;
}

.next {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -4.3em;
  text-align: center;
}
