.card-panel {
  margin-top: 1.5em;
}
.card-panel button i {
  line-height: 15px
}
.song-preview {
  margin-top: 10px;
}
.card-panel i {
  padding: 12px;
  font-size: 24px;
}
.card-panel .row.valign-wrapper {
  margin-bottom: 0;
}
.row.answers {
  line-height: 4;
  margin-top: 2em;
  margin-bottom: 2em;
}
.row.answers .col:nth-child(even) {
  text-align: right;
}
.row.answers .col:nth-child(odd) {
  text-align: left;
}
.answers {
  padding-bottom: 4.5em;
}
.next {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -5em;
  text-align: center;
}
