<div>
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content center-align black-text">
          <span class="card-title teal-text">Question {{ question.id }} of {{ quizService.totalQuestions }}</span>
          <div [ngSwitch]="question.type">
            <div class="question-detail" *ngSwitchWhen="0">
              <!-- AlbumNameFromImage -->
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s12">
                      {{ question.title }}
                      <br>
                      <div class="album-cover">
                        <img class="circle responsive-img" src="{{ question.track.album?.images[0]?.url }}" width="160" height="160">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchWhen="1">
              <!-- TrackNameFromPreview -->
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s2">
                      <i class="material-icons circle blue white-text">hearing</i>
                    </div>
                    <div class="col s10">
                      {{ question.title }}
                      <br>
                      <div class="song-preview">
                        <audio #player id="audio{{ question.track.id }}" src="{{ question.track.preview_url }}" preload="auto">
                          <p>Sorry, your browser does not support the <code>audio</code> element.</p>
                        </audio>
                        <button #button (click)="playSong(player, button)" class="btn waves-effect waves-light" type="submit" name="action">
                          Play {{ countdown }} Seconds Snippet
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchWhen="2">
              <!-- ArtistNameFromTrackName -->
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s2">
                      <i class="material-icons circle blue white-text">audiotrack</i>
                    </div>
                    <div class="col s10">
                      {{ question.title }}
                      <br>
                      <span class="black-text flow-text">
                        <span class="blue-grey-text">&ldquo;</span>{{ question.track.name }}<span class="blue-grey-text darken-2">&rdquo;</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchWhen="3">
              <!-- ArtistNameFromAlbumName -->
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s2">
                      <i class="material-icons circle red white-text">album</i>
                    </div>
                    <div class="col s10">
                      {{ question.title }}
                      <br>
                      <span class="black-text flow-text">
                        <span class="blue-grey-text">&ldquo;</span>{{ question.track.album.name }}<span class="blue-grey-text darken-2">&rdquo;</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchDefault>
              Sorry, there was an error!
            </div>
          </div>
          <div class="row answers">
            <div class="col s6" *ngFor="let answer of question.answers; let i = index">
              <input #check type="checkbox" id="answer{{question.id}}{{i}}" (change)="answerClicked(i, check.checked)" [disabled]="!check.checked && hasMarkedAnswer">
              <label htmlFor="answer{{question.id}}{{i}}" class="grey-text text-darken-3">{{ answer.title }}</label>
            </div>
          </div>
          <div animates [animatesOnInit]="{type:'fadeInDown', keepFlow: true, duration: 400}" *ngIf="hasMarkedAnswer" class="next">
            <span materialize (click)="nextQuestion()" class="waves-effect waves-light btn-large">Next Question</span>
          </div>
          <div class="next grey-text text-lighten-1" [hidden]="hasMarkedAnswer">
            Select an answer to continue to the next question.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
