<div id="status-modal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="blue-grey-text">Quiz Status</h4>
    <ul class="collection">
      <li *ngFor="let question of quizService.questions" class="collection-item avatar">
        <i class="material-icons circle blue" [ngClass]="{blue: question.status.answered, grey: !question.status.answered, 'lighten-2': !question.status.answered}">check_circle</i>
        <span class="title black-text">Question {{ question.id }}</span>
        <p class="blue-grey-text" *ngIf="question.status.answered">
          <span class="grey-text">Your answer:</span> <span>{{ question.answers[question.status.selectedAnswer]?.title }}</span>
          <span [hidden]="question.status.wasCorrect"><span class="grey-text"><br>Correct answer:</span> <span>{{ quizService.getCorrectAnswer(question)?.title }}</span></span>
        </p>
        <p class="grey-text" [hidden]="question.status.answered">Not yet answered</p>
        <span class="secondary-content" [hidden]="!question.status.answered"><i class="material-icons green-text" [ngClass]="{'green-text': question.status.wasCorrect, 'red-text': !question.status.wasCorrect}">{{ question.status.wasCorrect ? 'check': 'close' }}</i></span>
      </li>
    </ul>
  </div>
  <div class="done-button modal-footer">
    <span class="modal-action modal-close waves-effect waves-green btn-flat">Done</span>
  </div>
  <div class="spacing">
    &nbsp;
  </div>
</div>
