//
// Buttons, or button like elements go here
//

button,
a.button {

  padding: .5em 1em;
  min-height: 44px;                  // iPhone touch legacy
  border: 2px solid @color-main;
  border-radius: @border-radius;
  font-family: @font-special;
  font-size: .8em;
  color: inherit;
  background-color: transparent;
  text-transform: uppercase;

  &.button-primary {
    border-color: @primary-color;
    background-color: transparent;
    color: @primary-color;

    &:hover {
      transition: all @duration-main @transition-type-main;
      border-color: transparent;
      background-color: @primary-color;
      color: @color-inverted;
    }
  }

  &.button-error {
    border-color: @color-error;
    background-color: transparent;
    color: @color-error;

    &:hover {
      transition: all @duration-main @transition-type-main;
      border-color: transparent;
      background-color: @color-error;
      color: @color-inverted;
    }
  }

  &.button-success {
    border-color: @color-success;
    background-color: transparent;
    color: @color-success;

    &:hover {
      transition: all @duration-main @transition-type-main;
      border-color: transparent;
      background-color: @color-success;
      color: @color-inverted;
    }
  }

  &.button-custom {
    border-color: @yellow-500;
    color: @yellow-500;
  }
}

a.button:hover {
  cursor: pointer;
}
