h1,
h2,
h3,
h4 {
  color: inherit;
}

a {
  color: @blue-400;
  text-decoration: none;

  &:hover {
    transition: color @duration-main @transition-type-main;
    color: @blue-900;
  }

  &:visited {
    color: @blue-400;
  }
}

@media screen and (min-width: @screen-s) {

}

@media screen and (min-width: @screen-m) {

}

@media screen and (min-width: @screen-l) {

}

@media screen and (min-width: @screen-xl) {

}
