@import "../../../css/variables/vars.less";

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

h3.section-heading {
  font-weight: 700;
  text-transform: uppercase;
}

p.section-description {
  margin: 0 auto;
  font-size: 1.8rem;
  margin-bottom: 8rem;
}

button,
a.button {
  font-size: 1.3em;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: @screen-xs) {

}

/* Larger than phablet */
@media (min-width: @screen-s) {
  p.section-description {
    width: 70%;
    font-size: 2rem;
  }
}

/* Larger than tablet */
@media (min-width: @screen-m) {
  h3.section-heading {
    font-size: 4.6rem;
  }
}

/* Larger than desktop */
@media (min-width: @screen-l) {
  h3.section-heading {
    font-size: 6rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: @screen-xl) {

}
