<div class="row">
  <div class="col s12">
    <div class="card white">
      <div class="card-content center-align black-text">
        <span class="card-title cyan-text">You're almost ready to start!</span>
        <div class="input-field col s12">
          <select materialize="material_select" [materializeSelectOptions]="selectOptions">
            <option *ngFor="let option of selectOptions" [value]="option.value">{{option.name}}</option>
          </select>
          <label>Choose your region</label>
        </div>
        <p>
          <a materialize class="waves-effect waves-light btn btn-large cyan">Start Quiz</a>
        </p>
      </div>
    </div>
  </div>
</div>
