/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html{
  direction: rtl;
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.margin-top-0{
  margin-top: 0;
}

.horizontal-alignment-center{
  text-align: -webkit-center;
}

.header {
  font-size: -webkit-xxx-large;
}

.title {
  font-size: xx-large;
}

.div-wrapper {
  display: inline;
  float: right;
  min-width: 30%;
  padding: 20px;
}
